# Data & Analytics - AWS 8/10

### ex. 1

In [ ]:
from pyspark.sql import SparkSession
from pyspark import SparkContext, SQLContext

spark = SparkSession.builder.master("local[*]").appName("Exercicio Intro").getOrCreate()

In [2]:
df_nomes = spark.read.csv('nomes_aleatorios.txt')
df_nomes.show(5)

24/03/26 21:41:16 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

+----------------+
|             _c0|
+----------------+
|  Frances Bennet|
|   Jamie Russell|
|  Edward Kistler|
|   Sheila Maurer|
|Donald Golightly|
+----------------+
only showing top 5 rows

### ex. 2

In [3]:
df_nomes = df_nomes.withColumnRenamed("_c0","Nomes")
df_nomes.show(10)

+-----------------+
|            Nomes|
+-----------------+
|   Frances Bennet|
|    Jamie Russell|
|   Edward Kistler|
|    Sheila Maurer|
| Donald Golightly|
|       David Gray|
|      Joy Bennett|
|      Paul Kriese|
|Berniece Ornellas|
|    Brian Farrell|
+-----------------+
only showing top 10 rows

In [4]:
df_nomes.printSchema()

root
 |-- Nomes: string (nullable = true)

### ex. 3

Ao dataframe (df_nomes), adicione nova coluna chamada Escolaridade e atribua para cada linha um dos três valores de forma aleatória: Fundamental, Medio ou Superior.

Para esta etapa, evite usar funções de iteração, como por exemplo: for, while, entre outras. Dê preferência aos métodos oferecidos para próprio Spark.

In [7]:
from pyspark.sql.functions import when, rand, lit

df_nomes = df_nomes.withColumn("Escolaridade", \
    when(rand() < 0.22, lit("Fundamental")) \
    .when(rand() < 0.44, lit("Médio")) \
    .otherwise(lit("Superior"))
)

In [8]:
df_nomes.show()

+-----------------+------------+
|            Nomes|Escolaridade|
+-----------------+------------+
|   Frances Bennet|       Médio|
|    Jamie Russell|       Médio|
|   Edward Kistler|       Médio|
|    Sheila Maurer|       Médio|
| Donald Golightly|    Superior|
|       David Gray|    Superior|
|      Joy Bennett|    Superior|
|      Paul Kriese|       Médio|
|Berniece Ornellas| Fundamental|
|    Brian Farrell|    Superior|
|   Kara Mcelwaine|       Médio|
|    Tracy Herring|       Médio|
|  Howard Lazarine|    Superior|
|     Leroy Strahl|    Superior|
|     Ernest Hulet|    Superior|
|     David Medina|       Médio|
|   Lorenzo Woodis|       Médio|
|      Page Marthe|       Médio|
|   Herbert Morris| Fundamental|
|      Albert Leef|       Médio|
+-----------------+------------+
only showing top 20 rows

In [9]:
df_nomes.printSchema()

root
 |-- Nomes: string (nullable = true)
 |-- Escolaridade: string (nullable = false)

### ex. 4

Ao dataframe (df_nomes), adicione nova coluna chamada Pais e atribua para cada linha o nome de um dos 13 países da América do Sul, de forma aleatória.

Para esta etapa, evite usar funções de iteração, como por exemplo: for, while, entre outras. Dê preferência aos métodos oferecidos para próprio Spark.

In [10]:
from pyspark.sql.functions import when, lit

paises_amesul = ["Argentina", "Bolívia", "Brasil", "Chile", "Colômbia", "Equador",
                      "Guiana", "Paraguai", "Peru", "Suriname", "Uruguai", "Venezuela"]

df_nomes = df_nomes.withColumn("Pais",
    when((rand() * 12).cast("int") == 11, lit(paises_amesul[11])) \
    .when((rand() * 12).cast("int") == 10, lit(paises_amesul[10])) \
    .when((rand() * 12).cast("int") == 9, lit(paises_amesul[9])) \
    .when((rand() * 12).cast("int") == 8, lit(paises_amesul[8])) \
    .when((rand() * 12).cast("int") == 7, lit(paises_amesul[7])) \
    .when((rand() * 12).cast("int") == 6, lit(paises_amesul[6])) \
    .when((rand() * 12).cast("int") == 5, lit(paises_amesul[5])) \
    .when((rand() * 12).cast("int") == 4, lit(paises_amesul[4])) \
    .when((rand() * 12).cast("int") == 3, lit(paises_amesul[3])) \
    .when((rand() * 12).cast("int") == 2, lit(paises_amesul[2])) \
    .when((rand() * 12).cast("int") == 1, lit(paises_amesul[1])) \
    .otherwise(lit(paises_amesul[0]))
)

df_nomes.show()

+-----------------+------------+---------+
|            Nomes|Escolaridade|     Pais|
+-----------------+------------+---------+
|   Frances Bennet|       Médio|  Bolívia|
|    Jamie Russell|       Médio| Suriname|
|   Edward Kistler|       Médio|Venezuela|
|    Sheila Maurer|       Médio|  Equador|
| Donald Golightly|    Superior|Argentina|
|       David Gray|    Superior|Argentina|
|      Joy Bennett|    Superior|   Brasil|
|      Paul Kriese|       Médio|Argentina|
|Berniece Ornellas| Fundamental| Suriname|
|    Brian Farrell|    Superior|Argentina|
|   Kara Mcelwaine|       Médio|Argentina|
|    Tracy Herring|       Médio| Suriname|
|  Howard Lazarine|    Superior|  Bolívia|
|     Leroy Strahl|    Superior|  Bolívia|
|     Ernest Hulet|    Superior|Argentina|
|     David Medina|       Médio|Argentina|
|   Lorenzo Woodis|       Médio| Suriname|
|      Page Marthe|       Médio|Argentina|
|   Herbert Morris| Fundamental| Suriname|
|      Albert Leef|       Médio|  Uruguai|
+-----------------+------------+---------+
only showing top 20 rows

### ex. 5

Ao dataframe (df_nomes), adicione nova coluna chamada AnoNascimento e atribua para cada linha um valor de ano entre 1945 e 2010, de forma aleatória. 



Para esta etapa, evite usar funções de iteração, como por exemplo: for, while, entre outras. Dê preferência aos métodos oferecidos para próprio Spark.

In [11]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import rand, lit

# valores aleatórios entre 1945 e 2010
df_nomes = df_nomes.withColumn("AnoNascimento", 
                              (lit(1945) + (rand() * (2010 - 1945))).cast("int"))

df_nomes.show()

+-----------------+------------+---------+-------------+
|            Nomes|Escolaridade|     Pais|AnoNascimento|
+-----------------+------------+---------+-------------+
|   Frances Bennet|       Médio|  Bolívia|         1976|
|    Jamie Russell|       Médio| Suriname|         1999|
|   Edward Kistler|       Médio|Venezuela|         1988|
|    Sheila Maurer|       Médio|  Equador|         1967|
| Donald Golightly|    Superior|Argentina|         1992|
|       David Gray|    Superior|Argentina|         1996|
|      Joy Bennett|    Superior|   Brasil|         1998|
|      Paul Kriese|       Médio|Argentina|         2008|
|Berniece Ornellas| Fundamental| Suriname|         1987|
|    Brian Farrell|    Superior|Argentina|         2006|
|   Kara Mcelwaine|       Médio|Argentina|         1984|
|    Tracy Herring|       Médio| Suriname|         1993|
|  Howard Lazarine|    Superior|  Bolívia|         1997|
|     Leroy Strahl|    Superior|  Bolívia|         1980|
|     Ernest Hulet|    Superior|Argentina|         1974|
|     David Medina|       Médio|Argentina|         1996|
|   Lorenzo Woodis|       Médio| Suriname|         1961|
|      Page Marthe|       Médio|Argentina|         2006|
|   Herbert Morris| Fundamental| Suriname|         1963|
|      Albert Leef|       Médio|  Uruguai|         1952|
+-----------------+------------+---------+-------------+
only showing top 20 rows

### ex. 6

Usando o método select do dataframe (df_nomes), selecione as pessoas que nasceram neste século. Armazene o resultado em outro dataframe chamado df_select e mostre 10 nomes deste.

In [12]:
# Seleção de pessoas que nasceram neste século
df_select = df_nomes.select("Nomes", "AnoNascimento").where(df_nomes.AnoNascimento >= 2000)

# Imprimir nomes e ano de nascimento
df_select.show(10)

+----------------+-------------+
|           Nomes|AnoNascimento|
+----------------+-------------+
|     Paul Kriese|         2008|
|   Brian Farrell|         2006|
|     Page Marthe|         2006|
|Wallace Mitchell|         2006|
|        Mary Lee|         2005|
|    Roxie Bernal|         2007|
|  Wilfredo Grant|         2009|
|     Jessie Jean|         2008|
|      Ned Tester|         2004|
|   Lynne Dustman|         2009|
+----------------+-------------+
only showing top 10 rows

### ex. 7

Usando Spark SQL repita o processo da Pergunta 6. Lembre-se que, para trabalharmos com SparkSQL, precisamos registrar uma tabela temporária e depois executar o comando SQL. Abaixo um exemplo de como executar comandos SQL com SparkSQL:

df_nomes.createOrReplaceTempView ("pessoas")

spark.sql("select * from pessoas").show()

In [13]:
# Registrar o dataframe como uma view temporária
df_nomes.createOrReplaceTempView("pessoas")

# Selecionar as pessoas que nasceram neste século
query_birth = spark.sql("""
    select Nomes, AnoNascimento
    from pessoas
    where AnoNascimento >= 2000
    limit 10
""")

# Imprime o resultado
query_birth.show()

+----------------+-------------+
|           Nomes|AnoNascimento|
+----------------+-------------+
|     Paul Kriese|         2008|
|   Brian Farrell|         2006|
|     Page Marthe|         2006|
|Wallace Mitchell|         2006|
|        Mary Lee|         2005|
|    Roxie Bernal|         2007|
|  Wilfredo Grant|         2009|
|     Jessie Jean|         2008|
|      Ned Tester|         2004|
|   Lynne Dustman|         2009|
+----------------+-------------+

### ex. 8

Usando o método select do Dataframe df_nomes, Conte o número de pessoas que são da geração Millennials (nascidos entre 1980 e 1994) no Dataset

In [14]:
from pyspark.sql.functions import count

# Filtrar apenas os nascidos entre 1980 e 1994
df_millennials = df_nomes.select("*").where((df_nomes.AnoNascimento >= 1980) & (df_nomes.AnoNascimento <= 1994))

# Contagem do número de pessoas da geração Millennials
gen_millennials = df_millennials.select(count("*")).collect()[0][0]

# Exibir a contagem de pessoas da gen millenials
print("Contagem de pessoas da geração Millennials:", gen_millennials)

Contagem de pessoas da geração Millennials: 2311022

### ex. 9

Repita o processo da Pergunta 8 utilizando Spark SQL

In [15]:
# criação de uma view temporária
df_nomes.createOrReplaceTempView("pessoas")

# Contar o numero de pessoas da geração millenials
query_millenials = """
    select count(*) as CountMille
    from pessoas
    where AnoNascimento between 1980 and 1994
"""

# Executa a consulta SQL
resultado = spark.sql(query_millenials)

# Extrai o resultado
total = resultado.collect()[0]["CountMille"]

print("Pessoas da geração Millennials:", total)

Pessoas da geração Millennials: 2311022

### ex. 10

Usando Spark SQL, obtenha a quantidade de pessoas de cada país para uma das gerações abaixo. Armazene o resultado em um novo dataframe e depois mostre todas as linhas em ordem crescente de Pais, Geração e Quantidade

- Baby Boomers – nascidos entre 1944 e 1964;

- Geração X – nascidos entre 1965 e 1979;

- Millennials (Geração Y) – nascidos entre 1980 e 1994;

- Geração Z – nascidos entre 1995 e 2015.

In [16]:
df_nomes.createOrReplaceTempView("pessoas")

query_geracoes = spark.sql("""
    select pais, 
           case when AnoNascimento between 1944 and 1964 then 'Baby Boomers'
                when AnoNascimento between 1965 and 1979 then 'Geração X'
                when AnoNascimento between 1980 and 1994 then 'Geração Y'
                when AnoNascimento between 1995 and 2015 then 'Geração Z'
           end as Geracao,
           count(*) AS Quantidade
    from pessoas
    group by Pais, Geracao
    order by Pais, Geracao, Quantidade asc
""" )

query_geracoes.show()

+---------+------------+----------+
|     pais|     Geracao|Quantidade|
+---------+------------+----------+
|Argentina|Baby Boomers|   1183221|
|Argentina|   Geração X|    885391|
|Argentina|   Geração Y|    887779|
|Argentina|   Geração Z|    887036|
|  Bolívia|Baby Boomers|    107314|
|  Bolívia|   Geração X|     80408|
|  Bolívia|   Geração Y|     80445|
|  Bolívia|   Geração Z|     80421|
|   Brasil|Baby Boomers|    116711|
|   Brasil|   Geração X|     87445|
|   Brasil|   Geração Y|     88694|
|   Brasil|   Geração Z|     87927|
|    Chile|Baby Boomers|    128294|
|    Chile|   Geração X|     95769|
|    Chile|   Geração Y|     96368|
|    Chile|   Geração Z|     96043|
| Colômbia|Baby Boomers|    139894|
| Colômbia|   Geração X|    104290|
| Colômbia|   Geração Y|    104756|
| Colômbia|   Geração Z|    104390|
+---------+------------+----------+
only showing top 20 rows